*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background-image:url("ojo.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

color:white;
font-family:Arial, sans-serif;

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

overflow:hidden;
}

h1{
font-size:4rem;
letter-spacing:8px;
margin-bottom:10px;
position:relative;
z-index:5;
}

p{
font-size:1.2rem;
color:#bdbdbd;
margin-bottom:30px;
position:relative;
z-index:5;
}

button{
padding:15px 40px;
font-size:1.2rem;
background:#7a2cff;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
transition:0.3s;
position:relative;
z-index:5;
}

button:hover{
transform:scale(1.08);
box-shadow:0 0 20px #7a2cff;
}

tsparticles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
